.App {
  text-align: center;
}

.form-output-wrapper {
  display: flex;
}

.output-container {
  display: grid;
  width: 900px;
  height: auto;
  grid-template-columns: 40px repeat(auto-fill);
  grid-template-rows: repeat(26, 1fr);
  /* grid-template-areas:
    ". years-1 years-2 years-3 years-4 years-5 years-6 years-7 years-8 years-9 years-10 years-11"
    "holdPeriod . . . . . . . . . ."
    "annualRevenue . . . . . . . . . ."
    "annualExpense . . . . . . . . . ."
    "initialInvestment . . . . . . . . . ."
    "additionalCapital . . . . . . . . . ."
    "closingCost . . . . . . . . . ."
    "revenueGrowthRate . . . . . . . . . ."
    "expenseGrowthRate . . . . . . . . . ."; */
  border: solid 1px black;
}

.annualRevenue {
  grid-row: 2;
}
.initialInvestment {
  grid-row: 3;
}
.additionalCapital {
  grid-row: 4;
}
.annualExpense {
  grid-row: 5;
}
.closingCost {
  grid-row: 6;
}
.revenueGrowthRate {
  grid-row: 7;
}
.expenseGrowthRate {
  grid-row: 8;
}
.holdPeriod {
  grid-row: 9;
}
