/*
=================================================================
==============================GLOBAL=============================
=================================================================
*/

.App {
  box-sizing: border-box;
  text-align: center;
}

.container {
  display: block;
  bottom: 0;
  height: 100vh;
}

* {
  /* font-family: "Montserrat", sans-serif; */
  font-family: "Lato", sans-serif;
  /* border: 1px solid black; */
}

/*
=================================================================
==============================HEADER=============================
=================================================================
*/

/* CSS HEX
--dark-purple: #270722ff;
--gainsboro: #dfdfdfff;
--shadow: #837569ff;
--dark-olive-green: #657153ff;
--asparagus: #8aaa79ff;
*/

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 20% 60% 20%;
  height: 120px;
  gap: 0px 0px;
  grid-template-areas:
    ". . ."
    ". header-title  header-links"
    ". . .";
}

.login {
  grid-area: header-links;
  display: grid;
  justify-content: end;
  padding-right: 10%;
}

.header-title {
  display: grid;
  grid-area: header-title;
  justify-content: center;
  align-items: start;
  color: white;
  border: 2px solid white;
  padding-bottom: 30px;
  border-radius: 6px;
}

@media screen and (max-width: 700px) {
  .header-title {
    font-size: 1.3rem;
    padding-top: 5px;
  }
}

ul {
  display: flex;
  flex-direction: row;
  /* padding: 0px 25px 0px 25px; */
  /* margin: 0; */
  list-style: none;
  justify-content: center;
}

li {
  padding: 0px 25px 0px 0px;
}

#bg1 {
  grid-column: 3 / 4;
  grid-row: 1 / 4;
  background-color: #569b4d;
  /* background-image: url(https://i.imgur.com/bZjFaNg.png); */
  background-position: center;
  /* clip-path: polygon(upper right, upper left, lower left, lower right); */
  clip-path: polygon(70% 0%, 65% 0, 54% 100%, 59% 100%);
  z-index: -1;
}

#bg2 {
  grid-column: 3 / 4;
  grid-row: 1 / 4;
  background-color: #31682a;
  /* clip-path: polygon(upper right, upper left, lower left, lower right); */
  clip-path: polygon(63% 0%, 58% 0, 47% 100%, 52% 100%);
  z-index: -2;
}

#bg3 {
  grid-column: 1 / 4;
  grid-row: 1 / 4;
  background: linear-gradient(
    90deg,
    rgba(71, 92, 83, 1) 0%,
    rgba(24, 28, 23, 1) 30%,
    rgb(59, 70, 57) 70%,
    rgb(53, 109, 51) 100%
  );
  /* clip-path: polygon(upper right, lower right, lower left, lower right); */
  clip-path: polygon(83% 0%, 89% 100%, 0 100%, 0 0);
  z-index: -10;
}

#bg4 {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  /* background-color: gold; */
  background-color: whitesmoke;
  /* clip-path: polygon(bottom left, upper left, upper right, lower right); */
  clip-path: polygon(34% 100%, 49% 0, 54% 0%, 39% 100%);
  z-index: -9;
}

#bg5 {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  /* background-color: gold; */
  background-color: whitesmoke;
  /* clip-path: polygon(bottom left, upper left, upper right, lower right); */
  clip-path: polygon(42% 100%, 57% 0, 62% 0%, 47% 100%);
  /* clip-path: polygon(49% 100%, 66% 0, 70% 0%, 54% 100%); */
  z-index: -3;
}
#bg6 {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  background-color: gold;
  /* clip-path: polygon(bottom left, upper left, upper right, lower right); */
  clip-path: polygon(51% 100%, 36% 0, 45% 0%, 60% 100%);
  z-index: -4;
}
/*
=================================================================
=================================================================
===================   PREVIOUS RESULTS   =======================
=================================================================
=================================================================
*/
.pr-container {
  height: 75vh;
}
.pr-wrapper {
  display: grid;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}
.pr-headers,
.prev-res {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(auto-fill);
  justify-items: start;
  align-items: center;
}

.pr-grid-1 {
  grid-column: 1 / 2;
}
.pr-grid-2 {
  grid-column: 2/3;
}
.pr-grid-3 {
  grid-column: 3/4;
}
.pr-grid-4 {
  grid-column: 4/5;
}
.pr-grid-5 {
  grid-column: 5/6;
}
.pr-grid-6 {
  grid-column: 6/7;
}
.pr-grid-7 {
  grid-column: 7/8;
}
.pr-grid-8 {
  grid-column: 8/9;
}
.pr-grid-9 {
  grid-column: 9/10;
}
.pr-grid-10 {
  grid-column: 10/11;
}

.pr-grid-11 {
  grid-column: 11/12;
}

.pr-grid-12 {
  grid-column: 12/13;
}

@media screen and (max-width: 1100px) {
  .prev-res {
    font-size: 73%;
  }
  .pr-container {
    width: 100%;
    margin-left: 1%;
    margin-right: 1%;
  }
  .pr-headers,
  .prev-res {
    grid-template-columns: repeat(10, 1fr);
  }

  .pr-grid-7 {
    display: none;
  }
  .pr-grid-8 {
    display: none;
  }
  .pr-grid-9 {
    grid-column: 7/8;
  }
  .pr-grid-10 {
    grid-column: 8/9;
  }

  .pr-grid-11 {
    grid-column: 9/10;
  }

  .pr-grid-12 {
    grid-column: 10/11;
  }
}

@media screen and (max-width: 600px) {
  .pr-headers,
  .prev-res {
    grid-template-columns: repeat(8, 1fr);
  }
  .pr-grid-5 {
    display: none;
  }
  .pr-grid-6 {
    display: none;
  }
  .pr-grid-7 {
    display: none;
  }
  .pr-grid-8 {
    display: none;
  }
  .pr-grid-9 {
    grid-column: 5/6;
  }
  .pr-grid-10 {
    grid-column: 6/7;
  }

  .pr-grid-11 {
    grid-column: 7/8;
  }

  .pr-grid-12 {
    grid-column: 8/9;
  }
}
/*
=================================================================
=================================================================
===================   MAIN BODY WRAPPER   =======================
=================================================================
=================================================================
*/

.form-output-wrapper {
  /* background-color: goldenrod; */
  margin-top: 2rem;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2rem;
  display: grid;
  justify-content: space-between;
  border: 2px solid darkslategray;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 6px;
  grid-template-columns: 1% minmax(320px, 20%) 3rem 70%;
  height: 700px;
  grid-template-rows: 600px 100px;
  gap: 0px 0px;
  grid-template-areas: ". form-inner-wrapper . output-wrapper";
}

/*
=================================================================
==========================  FORM  ===============================
=================================================================
*/

.form-inner-wrapper {
  /* background-color: pink; */
  display: grid;
  grid-area: form-inner-wrapper;
  width: 100%;
  height: 100%;
  grid-template-columns: minmax(320px, 20%) 70%;
  grid-template-rows: 10% 80% 10%;
  grid-template-areas:
    "header-links"
    "form-container"
    "form-button";
}

.header-links {
  grid-area: header-links;
}

.form-container {
  background-color: lightgray;
  grid-area: form-container;
  display: grid;
  height: 100%;
  grid-template-columns: 180px 120px 20px;
  gap: 0px 0px;
  grid-template-areas: "form-labels form-numbers .";
  align-items: center;
}
.form-labels {
  padding-left: 5px;
  padding-right: 10px;
}
.form-numbers {
  padding-left: 5px;
}
.form-button {
  display: grid;
  grid-area: "form-button";
  justify-content: end;
  /* background-color: red; */
}

/*
=================================================================
==================  MAIN CASH FLOW WRAPPER  =====================
=================================================================
*/

.output-profit-wrapper {
  /* background-color: indigo; */
  display: grid;
  grid-area: output-wrapper;
  grid-template-columns: minmax(2fr, 900px) 0.5fr;
  grid-template-rows: 600px 100px;
  grid-template-areas:
    "output-container ."
    "profit-container .";
  width: 100%;
  height: 100%;
  padding-top: 3px;
}

/*
=================================================================
========================  CASH FLOW  ============================
=================================================================
*/

.output-container {
  /* background-color: indianred; */
  display: grid;
  align-items: center;
  grid-area: output-container;
  width: 100%;
  max-width: 900px;
  height: auto;
  /* justify-items: end; */
  grid-template-columns: repeat(auto-fill);
  grid-template-rows: repeat(auto-fill);
}

.profit-container {
  /* border: 1px solid green; */
  display: grid;
  grid-template-columns: 12rem 8rem;
  grid-template-rows: 2rem 2rem;
  grid-area: profit-container;
  /* justify-content: center; */
  align-items: center;
  gap: 0px 0px;
  height: 68px;
}

.row-colors {
  grid-area: output-container;
  grid-row: -1/3;
  grid-column: 1/15;
  background-color: red;
  border: 1px solid black;
  z-index: 0;
}

.annualRevenue,
.annualExpense,
.annualNoi,
.initialInvestment,
.additionalCapital,
.salePrice,
.closingCost,
.cashFlow {
  padding-left: 5px;
}

.annualRevenue {
  grid-area: output-container;
  grid-column: 1;
  grid-row: 2;
}

.annualExpense {
  grid-area: output-container;
  grid-column: 1;
  grid-row: 3;
}
.annualNoi {
  grid-area: output-container;
  grid-column: 1;
  grid-row: 4;
}

.initialInvestment {
  grid-area: output-container;
  grid-column: 1;
  grid-row: 7;
}

.additionalCapital {
  grid-area: output-container;
  grid-column: 1;
  grid-row: 8;
}

.salePrice {
  grid-area: output-container;
  grid-column: 1;
  grid-row: 9;
}

.closingCost {
  grid-area: output-container;
  grid-column: 1;
  grid-row: 10;
}

.cashFlow {
  grid-area: output-container;
  grid-column: 1;
  grid-row: 11;
}

@media screen and (max-width: 1100px) {
  .output-profit-wrapper {
    width: 80%;
    overflow: hidden;
  }
  .output-container {
    max-width: 15rem;
  }
}
@media screen and (max-width: 800px) {
  .output-container {
    display: none;
  }
  .form-output-wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 25%;
  }
  .form-inner-wrapper {
    padding-top: 10px;
  }
  .form-container {
    padding-top: 10px;
    margin-top: 10px;
    height: 500px;
  }
  .output-profit-wrapper {
    grid-template-columns: 2rem 3rem;
    grid-template-rows: 2rem 2rem;
    width: 322px;
  }
}

/* 
===========================================================
====================  PROFIT DETAIL =======================
===========================================================
*/

/* .profit-label,
.profit-number,
.roi-label,
.roi-number {
} */

.profit-label,
.roi-label {
  padding-left: 5px;
  border: 1px solid black;
}

.profit-number,
.roi-number {
  padding-left: 10px;
  border: 1px solid black;
}

.profit-label {
  grid-area: profit-container;
  grid-row: 1;
  grid-column: 1;
}

.profit-number {
  grid-area: profit-container;
  grid-row: 1;
  grid-column: 2;
}
.roi-label {
  grid-area: profit-container;
  grid-row: 2;
  grid-column: 1;
}
.roi-number {
  grid-area: profit-container;
  grid-row: 2;
  grid-column: 2;
}

/* 
==================================================================
==================================================================
===================== GRID ROW COLORING ==========================
==================================================================
==================================================================
*/

.annualNoi,
.cashFlow {
  padding-top: 8px;
  padding-bottom: 8px;
  grid-column: 1/15;
  background-color: lightgreen;
}

/* 
==================================================================
============================ BLANK FORM ==========================
==================================================================
*/

.blank-form {
  position: absolute;
  background-image: url(https://i.imgur.com/ahiE0i2.jpg);
  z-index: 1;
  left: 35%;
  width: 55%;
  height: 65vh;
  text-align: center;
  background-size: cover;
  background-position-x: 30%;
  background-position-y: 58%;
  margin-top: 2.7rem;
  border-radius: 3px;
}

@media screen and (max-width: 1000px) {
  .form-container {
    overflow: hidden;
  }
  .blank-form {
    background-color: green;
    background-image: url(https://i.imgur.com/k5NKNtC.jpg);
    background-blend-mode: hard-light;
    left: 400px;
    width: 45vw;
    margin-top: 2.7rem;
    right: 400px;
    background-position-x: 10%;
    background-position-y: 10%;
  }
}
@media screen and (max-width: 800px) {
  .blank-form {
    display: none;
    /* background-color: gray;
    background-image: none;
    left: 360px;
    width: 35%;
    margin-top: 1%; */
  }
}

/* 
==================================================================
============================= FOOTER =============================
==================================================================
*/

.footer {
  position: sticky;
  width: 100vw;
  padding-bottom: 0;
  margin-bottom: 0;
  bottom: 0;
  height: 15vh;
  z-index: -4;
  background-image: url(https://i.imgur.com/2xN7SKi.jpg);
  background-color: #8aaa79ff;
  background-blend-mode: screen;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0px 15px 3px rgba(154, 184, 138, 0.5);
  background-position-y: 58%;
  /* background-position-x: 10%; */
  filter: blur(0.6px);
  overflow: hidden;
}
