/*
=================================================================
==============================GLOBAL=============================
=================================================================
*/

.App {
  box-sizing: border-box;
  text-align: center;
}

.container {
  display: block;
  bottom: 0;
}

/*
=================================================================
==============================HEADER=============================
=================================================================
*/

/* CSS HEX
--dark-purple: #270722ff;
--gainsboro: #dfdfdfff;
--shadow: #837569ff;
--dark-olive-green: #657153ff;
--asparagus: #8aaa79ff;
*/

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 20% 60% 20%;
  height: 120px;
  gap: 0px 0px;
  grid-template-areas:
    ". . header-links"
    ". header-title ."
    ". . .";
}

.header-title {
  display: grid;
  grid-area: header-title;
  justify-content: center;
  align-items: start;
  color: white;
  border: 2px solid white;
  padding-bottom: 30px;
  border-radius: 6px;
}

#bg1 {
  grid-column: 3 / 4;
  grid-row: 1 / 4;
  background-color: #569b4d;
  /* background-image: url(https://i.imgur.com/bZjFaNg.png); */
  background-position: center;
  /* clip-path: polygon(upper right, upper left, lower left, lower right); */
  clip-path: polygon(70% 0%, 65% 0, 54% 100%, 59% 100%);
  z-index: -1;
}

#bg2 {
  grid-column: 3 / 4;
  grid-row: 1 / 4;
  background-color: #31682a;
  /* clip-path: polygon(upper right, upper left, lower left, lower right); */
  clip-path: polygon(63% 0%, 58% 0, 47% 100%, 52% 100%);
  z-index: -2;
}

#bg3 {
  grid-column: 1 / 4;
  grid-row: 1 / 4;
  background: linear-gradient(
    90deg,
    rgba(71, 92, 83, 1) 0%,
    rgba(24, 28, 23, 1) 30%,
    rgb(59, 70, 57) 70%,
    rgb(53, 109, 51) 100%
  );
  /* clip-path: polygon(upper right, lower right, lower left, lower right); */
  clip-path: polygon(83% 0%, 89% 100%, 0 100%, 0 0);
  z-index: -10;
}

#bg4 {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  /* background-color: gold; */
  background-color: whitesmoke;
  /* clip-path: polygon(bottom left, upper left, upper right, lower right); */
  clip-path: polygon(34% 100%, 49% 0, 54% 0%, 39% 100%);
  z-index: -9;
}

#bg5 {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  /* background-color: gold; */
  background-color: whitesmoke;
  /* clip-path: polygon(bottom left, upper left, upper right, lower right); */
  clip-path: polygon(42% 100%, 57% 0, 62% 0%, 47% 100%);
  /* clip-path: polygon(49% 100%, 66% 0, 70% 0%, 54% 100%); */
  z-index: -3;
}
#bg6 {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  background-color: gold;
  /* clip-path: polygon(bottom left, upper left, upper right, lower right); */
  clip-path: polygon(51% 100%, 36% 0, 45% 0%, 60% 100%);
  z-index: -4;
}

/*
=================================================================
=================================================================
===================   MAIN BODY WRAPPER   =======================
=================================================================
=================================================================
*/

.form-output-wrapper {
  /* background-color: goldenrod; */
  margin-top: 2rem;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2rem;
  display: grid;
  justify-content: space-between;
  border: 2px solid darkslategray;
  border-radius: 6px;
  grid-template-columns: minmax(320px, 20%) 70%;
  height: 700px;
  grid-template-rows: 600px 100px;
  gap: 0px 0px;
  grid-template-areas: "form-inner-wrapper output-wrapper";
}

/*
=================================================================
==========================  FORM  ===============================
=================================================================
*/

.form-inner-wrapper {
  /* background-color: pink; */
  display: grid;
  grid-area: form-inner-wrapper;
  width: 100%;
  height: 100%;
  grid-template-columns: minmax(320px, 20%) 70%;
  grid-template-rows: 10% 90%;
  grid-template-areas:
    "header-links"
    "form-container";
}

.header-links {
  grid-area: header-links;
}

.form-container {
  background-color: lightgray;
  grid-area: form-container;
  display: grid;
  height: 100%;
  grid-template-columns: 180px 120px 20px;
  gap: 0px 0px;
  grid-template-areas: "form-labels form-numbers .";
  align-items: center;
}
.form-labels {
  grid-area: form-labels;
}
.form-numbers {
  grid-area: form-numbers;
}

/*
=================================================================
==================  MAIN CASH FLOW WRAPPER  =====================
=================================================================
*/

.output-profit-wrapper {
  /* background-color: indigo; */
  display: grid;
  grid-area: output-wrapper;
  grid-template-columns: minmax(2fr, 900px) 0.5fr;
  grid-template-rows: 600px 100px;
  grid-template-areas:
    "output-container ."
    "profit-container .";
  width: 100%;
  height: 100%;
}

/*
=================================================================
========================  CASH FLOW  ============================
=================================================================
*/

.output-container {
  /* background-color: indianred; */
  display: grid;
  grid-area: output-container;
  width: 100%;
  height: auto;
  /* justify-items: end; */
  grid-template-columns: repeat(auto-fill);
  grid-template-rows: repeat(auto-fill);
}
.profit-container {
  /* background-color: dodgerblue; */
  display: grid;
  grid-template-columns: 1fr 0.5fr 1.3fr;
  grid-template-rows: 2rem 2rem;
  grid-area: profit-container;
  align-items: center;
  gap: 0px 0px;
  height: 68px;
}

.annualRevenue {
  grid-area: output-container;
  grid-column: 1;
  grid-row: 2;
}
.annualExpense {
  grid-area: output-container;
  grid-column: 1;
  grid-row: 3;
}
.annualNoi {
  grid-area: output-container;
  grid-column: 1;
  grid-row: 4;
}
.initialInvestment {
  grid-area: output-container;
  grid-column: 1;
  grid-row: 7;
}
.additionalCapital {
  grid-area: output-container;
  grid-column: 1;
  grid-row: 8;
}
.salePrice {
  grid-area: output-container;
  grid-column: 1;
  grid-row: 9;
}
.closingCost {
  grid-area: output-container;
  grid-column: 1;
  grid-row: 10;
}
.cashFlow {
  grid-area: output-container;
  grid-column: 1;
  grid-row: 11;
}

.profit-label {
  grid-area: profit-container;
  grid-row: 1;
  grid-column: 1;
}
.profit-number {
  grid-area: profit-container;
  grid-row: 1;
  grid-column: 2;
}
.roi-label {
  grid-area: profit-container;
  grid-row: 2;
  grid-column: 1;
}
.roi-number {
  grid-area: profit-container;
  grid-row: 2;
  grid-column: 2;
}
.footer {
  position: sticky;
  width: 100vw;
  padding-bottom: 0;
  margin-bottom: 0;
  bottom: 0;
  height: 15vh;
  z-index: -4;
  background-image: url(https://i.imgur.com/2xN7SKi.jpg);
  background-color: #8aaa79ff;
  background-blend-mode: screen;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0px 15px 3px rgba(154, 184, 138, 0.5);
  background-position-y: 58%;
  /* background-position-x: 10%; */
  filter: blur(0.6px);
  overflow: hidden;
}
