.App {
  text-align: center;
}

.form-output-wrapper {
  display: flex;
}

.newForm {
  display: grid;
  height: auto;
  /* justify-items: end; */
  grid-template-columns: 2fr 1fr 0.75fr;
  grid-template-rows: repeat(12, 1fr);
  border: solid 1px black;
}

.output-container {
  display: grid;
  width: 900px;
  height: auto;
  /* justify-items: end; */
  grid-template-columns: 40px repeat(auto-fill);
  grid-template-rows: repeat(26, 1fr);
  border: solid 1px black;
}

.annualRevenue {
  grid-row: 2;
}
.annualExpense {
  grid-row: 3;
}
.annualNoi {
  grid-row: 4;
}
.initialInvestment {
  grid-row: 7;
}
.additionalCapital {
  grid-row: 8;
}
.salePrice {
  grid-row: 9;
}
.closingCost {
  grid-row: 10;
}
.cashFlow {
  grid-row: 11;
}

.profit {
  grid-row: 13;
  grid-column: 1;
}
.profitNum {
  grid-row: 13;
  grid-column: 2;
}
.roi {
  grid-row: 14;
  grid-column: 1;
}
.roiNum {
  grid-row: 14;
  grid-column: 2;
}
