* {
  border: 1px solid white;
  /* border: 1px solid black; */
}

.App {
  box-sizing: border-box;
  text-align: center;
}

.container {
  display: block;
  /* grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "\.header \.header \.header"
  "\.form-output-wrapper \.form-output-wrapper \.form-output-wrapper"
  "footer footer footer"; */
}

/*.new-form {
  display: grid;
  height: auto;
  justify-items: end;
  grid-template-columns: 2fr 1fr 0.75fr;
  grid-template-rows: repeat(12, 1fr);
}
 grid-auto-flow: column; */

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . header-links"
    ". . .";
}

.header-links {
  grid-area: header-links;
}

.form-output-wrapper {
  margin-left: 2%;
  margin-right: 2%;
  display: grid;
  grid-template-columns: minmax(320px, 20%) 70%;
  grid-template-rows: minmax(600px, 2000px);
  gap: 0px 0px;
  grid-template-areas: "form-inner-wrapper output-wrapper";
  background-color: goldenrod;
  height: 600px;
}

.form-inner-wrapper {
  grid-area: form-inner-wrapper;
  background-color: pink;
  width: 100%;
  height: 70%;
}

.form-container {
  display: grid;
  height: 100%;
  grid-template-columns: 180px 120px 20px;
  gap: 0px 0px;
  grid-template-areas: "form-labels form-numbers .";
  background-color: coral;
  align-items: center;
}
.form-labels {
  grid-area: form-labels;
}
.form-numbers {
  grid-area: form-numbers;
}

.output-profit-wrapper {
  display: grid;
  grid-area: output-wrapper;
  grid-template-columns: minmax(2fr, 900px) 1fr;
  grid-template-rows: 500px 100px;
  grid-template-areas:
    "output-container ."
    "profit-container .";
  background-color: indigo;
  width: 100%;
  height: 100%;
}

.output-container {
  display: grid;
  grid-area: output-container;
  width: 100%;
  height: auto;
  /* justify-items: end; */
  grid-template-columns: repeat(auto-fill);
  grid-template-rows: repeat(auto-fill);
  background-color: indianred;
}
.profit-container {
  display: grid;
  grid-template-columns: 1fr 0.5fr 1.3fr;
  grid-template-rows: 2rem 2rem;
  grid-area: profit-container;
  align-items: center;
  gap: 0px 0px;
  grid-area: profit-wrapper;
  margin-left: 300px;
  background-color: dodgerblue;
}

.annualRevenue {
  grid-area: output-container;
  grid-column: 1;
  grid-row: 2;
}
.annualExpense {
  grid-area: output-container;
  grid-column: 1;
  grid-row: 3;
}
.annualNoi {
  grid-area: output-container;
  grid-column: 1;
  grid-row: 4;
}
.initialInvestment {
  grid-area: output-container;
  grid-column: 1;
  grid-row: 7;
}
.additionalCapital {
  grid-area: output-container;
  grid-column: 1;
  grid-row: 8;
}
.salePrice {
  grid-area: output-container;
  grid-column: 1;
  grid-row: 9;
}
.closingCost {
  grid-area: output-container;
  grid-column: 1;
  grid-row: 10;
}
.cashFlow {
  grid-area: output-container;
  grid-column: 1;
  grid-row: 11;
}

.profit-profit {
  grid-row: 1;
}
.profit-roi {
  grid-row: 2;
}
.footer {
  grid-area: footer;
}
